* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #FE6901;
}
a {
    text-decoration: none;
    color: white;
}
#logo {
    width: 40%;
    text-align: center;
}

.container {
    max-width: 80%;
    margin: 0 auto;

}
.intestazione { 
    color: white;
    border-style: dashed;
    display: flex;
    /*Debug*/
    height: 70px;
    background-color: brown;
}
 .header-pagina {
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% / 3);
   background-color: aqua;
   border-style: dashed;
}